[database]
hostname=orddb02
username=kevinqiu
shard_name_pattern=live.*

[executor]
pool_size=5

[renderer]
renderer=csv

[loggers]
keys=root, shardgather

[handlers]
keys=console

[formatters]
keys=console

[logger_root]
level=NOTSET
handlers=console

[logger_shardgather]
level=DEBUG
handlers=console
qualname=shardgather

[handler_console]
class=StreamHandler
level=NOTSET
formatter=console
args=(sys.stdout,)

[formatter_console]
format=%(asctime)s %(levelname)s %(message)s
class=logging.Formatter
